npm-packages/
drafts/
system/*
!system/SiteTitle.tid
!system/SiteSubtitle.tid
!system/plugins/
system/plugins/*
!system/plugins/jbaldus
system/plugins/jbaldus/*
!system/plugins/jbaldus/sensitive-scramble*
